<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="SplitCharacter" value="|"/>
      <add key="ServerList" value="www.google.com|www.ya.ru"/>
      <add key="PingFreq" value="60"/>
      <!--PingFreq in seconds-->
      <add key="Timeout" value="5000"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
